<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    {{#if electronics}}
    <div class="added-electronics">
        {{#each electronics}}
        {{> electronic}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        <p>There are no electronics found...</p>
    </div>
    {{/if}}
</section>